# 环境配置
NODE_ENV="development"

# 应用配置
APP_NAME="AiChat"
APP_PORT=3000

# 数据库配置
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST="127.0.0.1"
DB_PORT=

# Redis配置
REDIS_HOST="127.0.0.1"
REDIS_PORT=

# JWT配置
JWT_SECRET=
JWT_EXPIRES_IN="604800"

# 阿里云短信
ALIBABA_CLOUD_SMS_ACCESS_KEY_ID=
ALIBABA_CLOUD_SMS_ACCESS_KEY_SECRET=
