html[data-theme="light"] {
  --ch-main-color: #f15a29;
  --ch-main-hover-color: #e23914;
  --ch-bg-color-card: #ffffff;
  --ch-feature-card-bg: #f6f6f7;
  --ch-feature-card-hover-bg: #e7e8ec;
  --ch-text-color-1: #3c3c43;
  --ch-text-white-color: #ffffff;
  --ch-mask-active: rgba(0, 0, 0, 0.6);
  --ch-black-bg-white: #1b1b1f;
  --ch-white-bg-black: #ffffff;
  --ch-line-color: rgba(60, 60, 60, 0.12);
  --ch-tip-success-color: #52c41a;
  --ch-tip-prompt-color: #05cfa4;
  --ch-tip-error-color: #fd6b6d;
  --ch-tip-warning-color: #faad14;
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  color: var(--ch-text-color-1);
  overflow-x: hidden;
  background: var(--ch-feature-card-bg);
}

a {
  text-decoration: none;
  word-break: break-all;
}

img {
  user-select: none;
  /* user-drag: none; */
  -webkit-user-drag: none;
  -moz-user-drag: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
  overflow-wrap: break-word;
}

button {
  padding: 0;
  background-color: transparent;
  background-image: none;
  border: none;
  font: inherit;
}

button:enabled {
  cursor: pointer;
}

input,
textarea,
select {
  outline: none;
  border: none;
  background-color: transparent;
  font: inherit;
}

.ellipsis {
  overflow: hidden; /* 超出隐藏 */
  white-space: nowrap; /* 不换行 */
  text-overflow: ellipsis; /* 显示省略号 */
}
